---
import Layout from "../../layouts/Layout.astro"
import Hero from "../../components/Hero.astro"
import img from "../../assets/img/propos.webp?url";
import AfriqueNord from "../../assets/img/AfriqueNord.webp?url";
import AmeriqueCentrale from "../../assets/img/AmeriqueCentrale.webp?url";
import AmeriqueLatine from "../../assets/img/AmeriqueLatine.webp?url";
import AsieEst from "../../assets/img/AsieEst.webp?url";
import EuropeEst from "../../assets/img/EuropeEst.webp?url";
import Orient from "../../assets/img/Orient.webp?url";
---

<Layout>
    <Hero title="qui sommes nous ?"/>
    <img src={img} alt="qui sommes nous ?">
    <div class="relative flex flex-col mt-30 mb-20 space-y-20">
        <h1 class="mx-auto font-lilitaone text-4xl uppercase">Qui sommes nous ?</h1>
        <div class="flex justify-center">
            <p class="font-montserrat text-xl w-6/10">
                Chez <span class="font-bold">Savoury Road</span>, notre mission est de vous ramener chez vous les saveurs et les produits locaux de votre pays d'origine ou de vous faire découvrir ceux d'ailleurs. Fondée par trois associés passionnés de culture et de gastronomie, notre boutique en ligne récemment lancée se spécialise dans <span class="font-bold">la sélection</span> et <span class="font-bold">la distribution</span> de <span class="font-bold">produits locaux authentiques</span>  provenant de <span class="font-bold">six régions du monde</span> :
            </p>
        </div>
        <div class="relative flex flex-col mt-30 space-y-20">
            <div class="grid grid-cols-3 mx-50 space-y-30">
                <div>
                    <img src={AfriqueNord} class="mx-auto h-65" alt="Afrique du Nord" />
                    <a href="../produits" class="font-lilitaone border-
                    border-yellow text-yellow uppercase text-lg hover:w-[250px] transition-all cursor-pointer mx-auto rounded-xl border-3 flex justify-center items-center h-[50px] w-[200px]">afrique du nord</a>
                </div>
                <div>
                    <img src={AmeriqueCentrale} class="mx-auto h-65" alt="Amerique Centrale"/>
                    <a href="../produits" class="font-lilitaone uppercase text-lg hover:w-[250px] transition-all border-orange text-orange cursor-pointer mx-auto rounded-xl border-3 flex justify-center items-center h-[50px] w-[200px]"> amerique centrale</a>
                </div>
                <div>
                    <img src={AmeriqueLatine} class="mx-auto h-65" alt="Amerique Latine"/>
                    <a href="../produits" class="font-lilitaone uppercase text-lg hover:w-[250px] transition-all cursor-pointer border-red text-red mx-auto rounded-xl border-3 flex justify-center items-center h-[50px] w-[200px]">amerique latine</a>
                </div>
                <div>
                    <img src={AsieEst} class="mx-auto h-65" alt="Asie de l'Est"/>
                    <a href="../produits" class="font-lilitaone uppercase text-lg hover:w-[250px] transition-all cursor-pointer border-pink text-pink mx-auto rounded-xl border-3 flex justify-center items-center h-[50px] w-[200px]"> asie du sud est</a>
                </div>
                <div>
                    <img src={EuropeEst} class="mx-auto h-65" alt="Europe de l'Est"/>
                    <a href="../produits" class="font-lilitaone uppercase text-lg hover:w-[250px] transition-all cursor-pointer mx-auto border-purple text-purple rounded-xl border-3 flex justify-center items-center h-[50px] w-[200px]">europe de l'est</a>
                </div>
                <div>
                    <img src={Orient} class="mx-auto h-65" alt="Orient"/>
                    <a href="../produits" class="font-lilitaone uppercase text-lg hover:w-[250px] transition-all cursor-pointer mx-auto rounded-xl border-green text-green border-3 flex justify-center items-center h-[50px] w-[200px]">moyen orient</a>
                </div>
            </div>
            <div class="relative flex flex-col mb-20 space-y-20">
                <div class="flex flex-col space-y-15">
                    <p class="font-montserrat mx-auto text-xl w-6/10">
                        <span class="font-bold">Nous proposons une large gamme de boissons et de nourritures traditionnelles</span> qui vous permettront de retrouver les goûts de votre enfance ou de découvrir de nouvelles saveurs. Chaque produit que nous sélectionnons est soigneusement choisi pour son <span class="font-bold">authenticité</span> et sa <span class="font-bold">qualité</span>, afin de vous offrir une <span class="font-bold">expérience culinaire unique et authentique.</span>
                    </p>
                    <p class="font-montserrat mx-auto text-xl w-6/10">
                        <span class="font-bold">saveurs</span>Que vous soyez un expatrié nostalgique des  de <span class="font-bold">votre terre natale</span>, un gourmet en quête de nouvelles <span class="font-bold">expériences</span>, ou simplement un amateur de produits locaux, <span class="font-bold">Savoury Road</span> est votre destination pour vivre une aventure culinaire à travers le monde.
                    </p>
                    <p class="font-montserrat mx-auto text-xl w-6/10">
                        <span class="font-bold">Rejoignez-nous</span> dans cette <span class="font-bold">aventure gastronomique</span> et laissez <span class="font-bold">Savoury Road</span> vous transporter à travers les saveurs du monde.
                    </p>
                </div>
            </div>
            <div class="flex justify-center">
                <a href="../register" class="font-lilitaone uppercase border-green text-green text-lg hover:w-[250px] transition-all cursor-pointer mx-auto rounded-xl border-3 flex justify-center items-center h-[50px] w-[200px]">Nous rejoindre</a>
            </div>
        </div>
</Layout>