---
import Layout from "../../layouts/Layout.astro"
import { getOneRecette, allRecettesSorted, allEtapeByRecette } from "../../../backend/backend.mjs";

export async function getStaticPaths() {
    const allRecette = await allRecettesSorted();

    return allRecette.map((etape) => ({
        params: { id: etape.id.toString() },
        props: { etape },
    }));
}

const { id } = Astro.params;
const rec = await getOneRecette(id);

const etapes = rec ? await allEtapeByRecette(rec.id) : null;

if (!rec) {
    return Astro.redirect("/404");
}

---

<Layout>
    <div class="mt-60 space-y-20">
        <div class="flex mr-15">
            <img src={rec.img} alt={rec.Nom} class="h-48 scale-150 mx-auto" />
            <div class="space-y-8 mx-10">
                <h1 class="font-lilitaone text-4xl text-center">{rec.Nom}</h1>
                <div class="font-montserrat text-lg w-[800px]" set:html={rec.Description}></div>
            </div>
        </div>
        <div class="mb-20">
            <h2 class="text-center mt-30 font-lilitaone uppercase text-4xl">
                étapes de la recette
            </h2>
            <p class="">{etapes.Etape_1}</p>
        </div>
    </div>
</Layout>